
*{
     margin: 0; padding: 0; 
     box-sizing: border-box;
     }

#splash-screen {
    position: absolute; width: 100%; height: 100vh;
    background: #0a0a0a; display: flex; justify-content: center; align-items: center;
    z-index: 1000;
text-decoration:none;
color:rgb(250, 250, 250);
font-weight:25px;
font-width:100px;
font-weight: bold;

}
.progress-wrapper { width: 300px; height: 4px; background: #222; position: center; }
.progress-bar { width: 0%; height: 100%; background: #e20808; position: relative; }
.counter-bubble {
    position: absolute; right: -20px; top: -40px;
    background: #000a0b; color: #ffffff; padding: 4px 8px; border-radius: 4px; font-size: 16px;
}
.counter-bubble::after {
    content: ''; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%);
    border-top: 5px solid#ffffff; border-left: 5px solid transparent; border-right: 5px solid transparent;
}
.navbar{
    margin: 0;
    padding: 0;
    
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(images/site-background.jpeg); 
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: -1200px;
    height:auto;
    margin: auto;
}
.icon{

    float:auto;
    height: 70px;
}
.logo{
    color: #fff;
    font-size: 35px;
font-family: Arial;
}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 25px;
    margin-top: -100px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #fdfdfd;
    font-weight: bold;
    font-family: Arial;
    transition: 0.4 ease-in-out;
}

ul li a:hover{
    color: rgb(252, 0, 0);

}
.showroom{
    padding-top: 60px;
}
.car-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 60px auto;
    padding: 20px;
}
.car-row.reverse{
    flex-direction: row-reverse;
}
.car-image img {
width: 100%;
max-width: 500px;
border-radius: 10px;
transition: transform 0.4s ease;
}
.car-image img:hover{
transform: scale(1.05);
}
.car-info{
    max-width:500px;
    text-align: left;
}
.car-info h2{
    font-size: 28px;
    margin-bottom: 10px;
}
.car-info p{
    font-size:16px;
    color: #0b0000;
    margin-bottom:15px;
    line-height: 1.6;
}
.car-info ul{
    list-style:none;
    padding:0;
}
.car-info ul li{
    margin-bottom: 8px;
    font-size: 14px;
    color: #0c0000;
}
@media (max-width: 768px){
    .car-row{
        flex-direction: column;
        text-align: center;
    }
    .car-row.reverse{
        flex-direction: column;
    }
    .car-info{
        text-align:center ;
    }
}
